.link{
    color: white !important;
    font-weight: bold !important;;

}

nav{

    background-color: rgb(44, 62, 80) !important;
    padding: 20px 0 !important;
   
}

.logo{

    font-size: 30px !important;
}

/* #1abc9c */
